.hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.text-block {
  max-width: 700px;
  margin-top: 30px;
  font-family: Inconsolata, monospace;
  color: #cfcfcf;
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
}

.link-fade {
  color: #fff;
  text-decoration: none;
}

.link-fade:hover {
  color: #ff7d7d;
}

.works {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 2%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.navbar {
  background-color: transparent;
}

.other-work-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.nav-item {
  display: inline-block;
  padding: 20px;
  font-family: europa, sans-serif;
}

.nav-item.link-fade {
  background-color: transparent;
  font-family: Inconsolata, monospace;
  color: #cfcfcf;
  font-size: 14px;
}

.nav-item.link-fade:hover {
  color: #ff7d7d;
}

.portfolio-project-text {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: -2px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .9);
  -webkit-transition: background-color 300ms ease, color 300ms ease;
  transition: background-color 300ms ease, color 300ms ease;
  font-family: Inconsolata, monospace;
  color: #cfcfcf;
  font-size: 20px;
  text-align: center;
}

.portfolio-project-text:hover {
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: hsla(0, 0%, 96%, .25);
  box-shadow: inset 0 0 8px 0 hsla(0, 0%, 65%, .5);
  color: transparent;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer-text {
  padding: 19px;
  font-family: europa, sans-serif;
  color: #cfcfcf;
  font-size: 12px;
}

.portfolio-project {
  position: relative;
  margin: 1%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.portfolio-image {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

.nav-menu-other-work {
  display: block;
  float: right;
  text-align: center;
}

.portfolio-project-link {
  padding-bottom: -1px;
}

.project-header {
  height: 50vh;
  background-color: transparent;
}

.heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Inconsolata, monospace;
  color: #fff;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 1px;
}

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.info-row {
  height: 100%;
  margin-top: 5%;
  padding-right: 20%;
  padding-left: 20%;
}

.project-header-image {
  max-width: 90%;
}

.bold-text {
  font-family: Inconsolata, monospace;
  color: #fff;
  font-size: 16px;
}

.project-info {
  height: 40vh;
  margin-bottom: 100px;
}

.text-block-6 {
  font-family: Inconsolata, monospace;
  color: #cfcfcf;
  font-size: 16px;
  line-height: 24px;
}

.text-block-7 {
  padding-right: 30px;
  padding-left: 30px;
  font-family: Inconsolata, monospace;
  color: #cfcfcf;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.project-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 20%;
  padding-left: 20%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.section-header {
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: Inconsolata, monospace;
  color: #fff;
  font-size: 17px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.project-text {
  margin-top: 20px;
  font-family: Inconsolata, monospace;
  color: #cfcfcf;
  font-size: 17px;
  line-height: 24px;
}

.info-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Inconsolata, monospace;
}

.hero-row {
  height: 100%;
  padding-right: 15%;
  padding-left: 15%;
  background-color: #000;
}

.inline-image {
  display: block;
  max-width: 80%;
  margin: 30px auto 10px;
}

.img-caption {
  margin-bottom: 30px;
  padding-right: 9%;
  padding-left: 9%;
  font-family: Inconsolata, monospace;
  color: #cfcfcf;
  font-size: 13px;
  font-style: normal;
  text-align: center;
}

.image-block {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.list-item {
  margin-top: 20px;
  font-family: Inconsolata, monospace;
  color: #cfcfcf;
  font-size: 16px;
  line-height: 24px;
}

.image-3 {
  max-width: 80%;
  margin-top: 40px;
}

.bottom-nav {
  background-color: transparent;
}

.other-work-header {
  font-family: europa, sans-serif;
  color: #bdbdbd;
  font-style: italic;
  text-align: center;
}

.section-2 {
  margin-top: 60px;
}

.hero-du {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 45vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: opacity 350ms ease;
  transition: opacity 350ms ease;
}

.daily-container {
  position: relative;
  margin-bottom: 50px;
}

.overlay-text {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  padding: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Inconsolata, monospace;
  color: transparent;
}

.overlay-text:hover {
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 15%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: hsla(0, 0%, 100%, .9);
  color: #333;
  text-align: center;
}

.sidebyside-captionwithimage {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.inline-image-lg {
  display: block;
  overflow: hidden;
  max-width: 100%;
  margin: 30px auto 10px;
}

.top-level-nav {
  display: block;
  margin-right: 40px;
  float: right;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.image-4 {
  max-width: 50%;
}

.section-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.body {
  background-color: #000;
}

.brand {
  position: relative;
  display: inline-block;
  float: left;
  clear: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.nav-brand {
  margin-left: 40px;
  padding: 20px;
  font-family: Inconsolata, monospace;
  color: #fff;
  font-size: 16px;
}

.nav-brand:hover {
  opacity: 1;
  color: #ff7d7d;
}

.about-page {
  max-width: 700px;
  margin-top: 30px;
  margin-bottom: 100px;
  font-family: Inconsolata, monospace;
  color: #cfcfcf;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
}

.unordered-list {
  color: #cfcfcf;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.image-5 {
  position: absolute;
  left: 60px;
  top: 60px;
  display: none;
  max-width: 30%;
}

.image-6 {
  position: absolute;
  left: 60px;
  top: 40px;
  display: inline;
  max-width: 30%;
}

.container {
  display: block;
}

.daddy {
  position: relative;
}

.image-7 {
  max-width: 30%;
}

.container-2 {
  position: absolute;
}

.image-8 {
  position: absolute;
  max-width: 70px;
  margin-left: 65px;
  padding-top: 54px;
}

@media (max-width: 991px) {
  .works {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .other-work-container {
    display: block;
    float: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: left;
  }
  .nav-item.link-fade {
    position: static;
    float: none;
  }
  .nav-item.link-fade.w--current {
    text-align: left;
  }
  .portfolio-project-text {
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
  }
  .menu-button {
    float: none;
    color: #a79696;
  }
  .menu-button.w--open {
    float: none;
    background-color: transparent;
    color: #333;
  }
  .nav-menu-other-work {
    position: static;
    background-color: transparent;
    text-align: left;
  }
  .icon {
    color: #333;
  }
  .heading {
    letter-spacing: 1px;
  }
  .bottom-nav {
    text-align: left;
  }
  .top-level-nav {
    display: block;
    float: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: left;
  }
}

@media (max-width: 479px) {
  .hero {
    height: 75vh;
  }
  .text-block {
    padding-right: 40px;
    padding-left: 40px;
    font-size: 1.5vh;
    line-height: 2.5vh;
  }
  .works {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .portfolio-project-text {
    font-size: 20px;
  }
  .section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .footer-text {
    display: block;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    text-align: center;
  }
  .nav-menu-other-work {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .column {
    overflow: visible;
  }
  .text-block-7 {
    margin-top: 40px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .project-content {
    padding-left: 10%;
  }
  .info-column {
    display: block;
    height: auto;
  }
  .hero-row {
    padding-right: 5%;
    padding-left: 5%;
  }
  .hero-du {
    height: 75vh;
  }
  .sidebyside-captionwithimage {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .image-4 {
    text-align: left;
  }
  .about-page {
    padding-right: 40px;
    padding-left: 40px;
    font-size: 1.5vh;
    line-height: 2.5vh;
  }
}

