.about-section {
  margin-left: 8%;
  color: #000;
}

.image {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 50%;
  margin-top: 10%;
  margin-right: auto;
  margin-left: 30%;
  padding-right: auto;
  padding-bottom: 0px;
  padding-left: 7px;
  float: right;
}

.hero-header {
  position: relative;
  display: block;
  overflow: visible;
  margin-top: 6%;
  margin-right: 60%;
  margin-left: 0%;
  padding: 10px 0px 10px 10px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-weight: 600;
}

.hero-header.tk-europa {
  margin-bottom: 15%;
  font-family: europa, sans-serif;
  font-weight: 700;
}

.div-block {
  position: static;
  display: block;
  width: 80px;
  height: 2px;
  margin-top: 5%;
  margin-right: auto;
  margin-left: auto;
  background-color: #000;
}

.about-container {
  position: static;
  margin-top: 20%;
  padding-left: 0%;
  font-family: europa, sans-serif;
}

.project-section {
  position: static;
  margin-bottom: 17%;
  clear: none;
}

.section-header {
  margin-top: 0%;
  margin-bottom: 44px;
  margin-left: 0%;
  font-family: europa, sans-serif;
  letter-spacing: 0px;
}

.project-background-blue {
  height: 350px;
  min-height: 100px;
  margin: 12% 20% 0px;
  background-color: #d6e6ff;
}

.project-image {
  position: static;
  display: block;
  width: 40%;
  max-width: 70%;
  margin-top: 4%;
  margin-bottom: 0%;
  margin-left: 8%;
  float: left;
}

.project-number {
  position: relative;
  margin: auto;
  padding-right: 0%;
  float: right;
  font-family: europa, sans-serif;
  font-size: 90pt;
  font-weight: 100;
}

.project-category {
  margin-top: 62px;
  padding-top: 0%;
  padding-right: 2%;
  float: none;
  clear: none;
  font-family: europa, sans-serif;
  font-size: 12px;
  text-align: right;
  letter-spacing: 4pt;
}

.project-info-box {
  position: relative;
  display: block;
  overflow: visible;
  margin: 30% auto 10%;
  padding: 10%;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .25);
}

.project-title {
  margin-top: 0px;
  font-family: europa, sans-serif;
  font-size: 36px;
  line-height: auto;
  font-weight: 500;
}

.project-description {
  font-family: europa, sans-serif;
  font-weight: 400;
}

.project-heading {
  font-family: europa, sans-serif;
  font-weight: 700;
}

.see-more-link {
  font-family: europa, sans-serif;
  font-weight: 400;
}

.text-block-5 {
  position: relative;
  margin-top: 12%;
  margin-right: 17%;
  float: right;
  font-family: europa, sans-serif;
  font-weight: 700;
  letter-spacing: 5px;
}

.visual-design-section {
  height: 100px;
  margin-top: 10%;
  padding-right: 4%;
  padding-left: 8%;
}

.link {
  font-family: europa, sans-serif;
  color: #000;
  text-decoration: underline;
}

.about-image {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  width: 30%;
  margin-top: 10%;
  margin-left: 30%;
}

.hello-description {
  position: relative;
  display: block;
  margin: 10% 20% 10% 50%;
  padding: 3%;
  background-color: #fff;
  font-family: europa, sans-serif;
  text-align: left;
}

.go-home-text {
  margin-top: 5%;
  margin-left: 10%;
  font-family: Roboto, sans-serif;
}

.project-hero {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  width: 60%;
  margin-top: 8%;
  margin-right: auto;
  margin-left: auto;
}

.project-hero-title {
  position: relative;
  margin-top: 20%;
  margin-right: 30%;
  margin-left: 50%;
  padding: 1%;
  background-color: #fff;
  font-family: europa, sans-serif;
  color: #333;
  font-weight: 400;
  text-align: right;
}

.project-info-section {
  margin-top: 15%;
  margin-bottom: 100px;
  padding-right: 23%;
  padding-left: 23%;
}

.team-heading {
  margin-top: 10%;
  font-family: europa, sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.team-members {
  padding-right: 0%;
  font-family: europa, sans-serif;
  font-size: 16px;
}

.project-info {
  font-family: europa, sans-serif;
  font-size: 16px;
  text-align: right;
}

.column {
  margin-top: 4%;
}

.column-2 {
  margin-top: 4%;
}

.paragraph-5 {
  font-family: europa, sans-serif;
  font-size: 16px;
  text-align: right;
}

.paragraph-6 {
  font-size: 16px;
  font-weight: 700;
  text-align: right;
}

.column-3 {
  margin-top: 7%;
}

.section-8 {
  padding-right: 20%;
  padding-left: 20%;
}

.inline-image {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 5%;
  padding-left: 5%;
}

.project-page-content {
  margin-right: 23%;
  margin-bottom: 100px;
  margin-left: 23%;
  padding-right: 0%;
}

.column-4 {
  padding-right: 30px;
  padding-left: 30px;
}

.project-content-text {
  margin-top: 2%;
  margin-right: 0%;
  margin-bottom: 40px;
  font-family: europa, sans-serif;
  font-size: 16px;
  line-height: 26px;
}

.column-5 {
  padding-right: 0px;
  padding-left: 0px;
}

.row-2 {
  margin-top: 0%;
  margin-bottom: 80px;
}

.text-block-10 {
  margin-top: 10%;
  font-size: 10px;
  line-height: 14px;
  text-align: right;
}

.image-8 {
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .25);
}

.adobe-xd-embed {
  display: block;
  width: 380px;
  height: 700px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .25);
}

.project-content-section {
  margin-top: 4%;
  font-family: europa, sans-serif;
  font-weight: 400;
}

.bold-text-2 {
  font-family: europa, sans-serif;
  font-weight: 700;
}

.heading-9 {
  font-family: europa, sans-serif;
  font-weight: 400;
}

.block-quote {
  font-family: europa, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}

.bottom-portfolio-nav {
  margin-bottom: 10%;
  padding-top: 10%;
  padding-right: 23%;
  padding-left: 23%;
}

.bottom-nav-content {
  position: static;
}

.bottomnav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-family: europa, sans-serif;
  color: #000;
  text-decoration: none;
}

.bottomnav.w--current {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: europa, sans-serif;
  font-weight: 500;
  text-decoration: none;
}

.hello-name {
  position: absolute;
  padding: 10px;
  background-color: #fff;
}

.project-content {
  padding-right: 1%;
  padding-left: 45%;
}

.visual-project-image-1 {
  height: 420px;
  padding-top: 2%;
  background-image: url('../images/3382fc64-6a9e-4f36-98ff-897e20caa870_rw_1920.jpg');
  background-position: 50% 50%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  opacity: 1;
}

.visual-project-image-1:hover {
  opacity: 1;
}

.visual-design-project {
  padding: 4%;
}

.visual-overlay-text {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding: 20%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
  font-family: europa, sans-serif;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

.visual-overlay-text:hover {
  opacity: 0.9;
}

.visual-project-image-2 {
  height: 420px;
  padding: 2% 0% 0%;
  background-image: url('../images/0312df36-fb70-4f95-8b1c-809f61d868f2_rwc_0x235x2306x1808x2306.jpg');
  background-position: 50% 50%;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.visual-project-image-3 {
  height: 420px;
  padding-top: 2%;
  background-image: url('../images/e6fadff2-ec6c-4a71-90ef-5a8b824e6d43_rwc_0x114x1027x805x1027.jpg');
  background-position: 50% 50%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.left-align-image {
  width: 70%;
  margin-top: 2%;
  margin-bottom: 2%;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .25);
}

.right-align-image {
  width: 70%;
  margin-top: 2%;
  margin-bottom: 2%;
  float: right;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .25);
}

.caption-right {
  position: absolute;
  margin-top: 15%;
  margin-right: 15%;
  margin-left: 30%;
  padding: 30px;
  background-color: #fff;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .25);
  font-family: europa, sans-serif;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
}

.caption-rleft {
  position: absolute;
  margin-top: 15%;
  margin-right: 15%;
  margin-left: 0%;
  padding: 30px;
  background-color: #fff;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .25);
  font-family: europa, sans-serif;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
}

.link-solid-fade {
  opacity: 1;
  color: #000;
  text-decoration: none;
}

.link-solid-fade:hover {
  opacity: 0.7;
}

.visuals-heading {
  margin-top: 5%;
  margin-bottom: 3%;
  margin-left: 0%;
  padding-left: 20%;
  font-family: europa, sans-serif;
  letter-spacing: 0px;
}

.visuals-section {
  margin-bottom: 3%;
  padding-right: 20%;
  padding-left: 20%;
}

.visuals-description {
  margin-bottom: 5%;
  font-family: europa, sans-serif;
}

.visuals-image-drop-left {
  width: 100%;
  margin-top: 2%;
  float: left;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .25);
}

.visuals-image-drop-right {
  width: 100%;
  margin-top: 2%;
  float: right;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .25);
}

.row-4 {
  margin-bottom: 10px;
  padding-bottom: 50px;
}

.list-item {
  font-family: europa, sans-serif;
  font-size: 16px;
  line-height: 26px;
}

.bold-text-6 {
  line-height: 26px;
}

.project-background-yellow {
  height: 350px;
  min-height: 100px;
  margin: 12% 20% 0px;
  background-color: #fff0d6;
}

.html-embed {
  display: block;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

.image-9 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.design-explorations-section {
  margin-top: 0%;
  padding-right: 4%;
  padding-left: 8%;
}

.see-more-caption {
  display: inline-block;
  margin-top: 3%;
  margin-right: 5%;
  padding: 20px;
  float: right;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .25);
  font-family: europa, sans-serif;
  text-align: right;
}

.html-embed-2 {
  margin-top: 15%;
}

@media (max-width: 991px) {
  .image {
    width: 70%;
    margin-left: 20%;
  }
  .hero-header.tk-europa {
    margin-right: 40%;
    margin-left: 5%;
    font-size: 34px;
    line-height: 38px;
  }
  .project-section {
    margin-top: 0%;
    margin-bottom: 20%;
  }
  .section-header {
    font-size: 30px;
  }
  .project-background-blue {
    margin-top: 13%;
    margin-right: 10%;
    margin-left: 10%;
  }
  .project-image {
    position: absolute;
    display: block;
    height: 30%;
  }
  .project-category {
    margin-top: 25%;
    padding-left: 37%;
  }
  .project-info-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 15%;
    padding: 8%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .project-title {
    font-size: 30px;
  }
  .project-content {
    overflow: visible;
    padding-right: 0%;
    padding-left: 25%;
  }
  .visual-overlay-text {
    padding: 20%;
  }
  .project-background-yellow {
    margin-top: 13%;
    margin-right: 10%;
    margin-left: 10%;
  }
}

@media (max-width: 767px) {
  .project-section {
    margin-bottom: 30%;
  }
  .project-image {
    display: block;
    width: 50%;
  }
  .project-category {
    padding-left: 45%;
  }
}

@media (max-width: 479px) {
  .image {
    width: 80%;
    margin-left: 10%;
  }
  .hero-header.tk-europa {
    margin-top: 13%;
    margin-right: 20%;
    margin-left: 5%;
    font-size: 24px;
    line-height: 30px;
  }
  .project-section {
    margin-bottom: 80%;
    clear: left;
  }
  .section-header {
    font-size: 24px;
  }
  .project-background-blue {
    margin-right: 10%;
    margin-left: 10%;
  }
  .project-image {
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
    margin-top: 15%;
    margin-left: 10%;
    float: none;
    clear: none;
  }
  .project-number {
    display: none;
    font-size: 30pt;
  }
  .project-category {
    display: none;
    font-size: 9px;
    line-height: 14px;
  }
  .project-info-box {
    margin-top: 90%;
  }
  .project-title {
    font-size: 24px;
    line-height: 30px;
  }
  .text-block-5 {
    margin-right: 10%;
  }
  .visual-design-section {
    margin-top: 10%;
  }
  .about-image {
    width: 80%;
    margin-top: 15%;
    margin-left: 10%;
  }
  .hello-description {
    margin-top: 80%;
    margin-right: 10%;
    margin-left: 20%;
    float: none;
    font-size: 12px;
    line-height: 16px;
  }
  .project-hero {
    width: 80%;
    margin-top: 15%;
  }
  .project-hero-title {
    display: none;
  }
  .project-info-section {
    margin-top: 50%;
    padding-right: 10%;
    padding-left: 10%;
  }
  .project-info {
    text-align: left;
  }
  .paragraph-5 {
    float: left;
    clear: left;
    text-align: left;
  }
  .section-8 {
    padding-right: 0%;
    padding-left: 0%;
  }
  .inline-image {
    padding-right: 0%;
    padding-left: 0%;
  }
  .project-page-content {
    margin-right: 10%;
    margin-left: 10%;
  }
  .adobe-xd-embed {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: -15%;
  }
  .bold-text-2 {
    float: left;
    text-align: left;
  }
  .hello-name {
    margin-top: 60%;
    margin-left: 10px;
  }
  .project-content {
    margin-bottom: 10%;
    padding-right: 0%;
    padding-left: 0%;
  }
  .left-align-image {
    width: 100%;
    margin-bottom: 20%;
  }
  .right-align-image {
    width: 100%;
    margin-bottom: 20%;
  }
  .caption-right {
    margin-top: 50%;
    margin-right: 0%;
    padding: 6%;
    font-size: 12px;
    line-height: 18px;
  }
  .caption-rleft {
    margin-top: 50%;
    padding: 6%;
    font-size: 12px;
    line-height: 18px;
  }
  .visuals-heading {
    padding-left: 10%;
  }
  .visuals-section {
    padding-right: 10%;
    padding-left: 10%;
  }
  .project-background-yellow {
    margin-right: 10%;
    margin-left: 10%;
  }
  .html-embed {
    width: 100%;
  }
  .design-explorations-section {
    margin-top: 10%;
  }
}

