.hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 95vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.text-block {
  max-width: 700px;
  font-family: Inconsolata, monospace;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
}

.link-fade {
  color: #868686;
  text-decoration: none;
}

.link-fade:hover {
  color: #ff7d7d;
}

.works {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 5%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.navbar {
  background-color: transparent;
}

.container-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.nav-item {
  font-family: europa, sans-serif;
}

.nav-item.link-fade {
  font-family: Inconsolata, monospace;
}

.portfolio-project-text {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsla(0, 0%, 100%, .8);
  -webkit-transition: background-color 300ms ease, color 300ms ease;
  transition: background-color 300ms ease, color 300ms ease;
  font-family: Inconsolata, monospace;
  color: #4e4e4e;
  font-size: 20px;
  text-align: center;
}

.portfolio-project-text:hover {
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: hsla(0, 0%, 96%, .25);
  box-shadow: inset 0 0 8px 0 hsla(0, 0%, 65%, .5);
  color: transparent;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.text-block-3 {
  padding: 19px;
  font-family: europa, sans-serif;
  color: rgba(51, 51, 51, .5);
  font-size: 12px;
}

.portfolio-project {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.portfolio-image {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

.project-header {
  height: 50vh;
  background-color: transparent;
}

.heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Inconsolata, monospace;
  font-weight: 300;
  letter-spacing: 1px;
}

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.info-row {
  height: 100%;
  margin-top: 5%;
  padding-right: 20%;
  padding-left: 20%;
}

.image-2 {
  max-width: 80%;
}

.bold-text {
  font-family: Inconsolata, monospace;
  font-size: 16px;
}

.project-info {
  height: 40vh;
  margin-bottom: 100px;
}

.text-block-6 {
  font-family: Inconsolata, monospace;
  font-size: 16px;
  line-height: 24px;
}

.text-block-7 {
  padding-right: 30px;
  padding-left: 30px;
  font-family: Inconsolata, monospace;
  font-size: 16px;
  font-weight: 400;
}

.project-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 20%;
  padding-left: 20%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.section-header {
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: Inconsolata, monospace;
  color: #707070;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.project-text {
  margin-top: 20px;
  font-family: Inconsolata, monospace;
  font-size: 16px;
  line-height: 24px;
}

.info-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Inconsolata, monospace;
}

.hero-row {
  height: 100%;
  padding-right: 10%;
  padding-left: 10%;
  background-color: #f5f5f5;
}

.bold-text-2 {
  margin-top: 70px;
}

.inline-image {
  display: block;
  max-width: 80%;
  margin: 30px auto 10px;
}

.paragraph {
  margin-bottom: 30px;
  padding-right: 9%;
  padding-left: 9%;
  font-family: Inconsolata, monospace;
  font-size: 12px;
  font-style: normal;
  text-align: center;
}

.image-block {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.list-item {
  margin-top: 20px;
  font-family: Inconsolata, monospace;
  font-size: 16px;
  line-height: 24px;
}

.image-3 {
  max-width: 80%;
  margin-top: 40px;
}

.bottom-nav {
  background-color: transparent;
}

.text-block-8 {
  font-family: europa, sans-serif;
  color: #bdbdbd;
  font-style: italic;
  text-align: center;
}

.section-2 {
  margin-top: 60px;
}

.hero-du {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 45vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: opacity 350ms ease;
  transition: opacity 350ms ease;
}

.daily-container {
  position: relative;
  margin-bottom: 50px;
}

.overlay-text {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  padding: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Inconsolata, monospace;
  color: transparent;
}

.overlay-text:hover {
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 15%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: hsla(0, 0%, 100%, .9);
  color: #333;
  text-align: center;
}

.hero-about {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: opacity 350ms ease;
  transition: opacity 350ms ease;
}

.text-span {
  color: #000;
}

.sidebyside-captionwithimage {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.inline-image-lg {
  display: block;
  max-width: 100%;
  margin: 30px auto 10px;
}

@media (max-width: 991px) {
  .works {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .container-4 {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .portfolio-project-text {
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
  }
  .menu-button {
    color: #a79696;
  }
  .menu-button.w--open {
    background-color: #f5f5f5;
    color: #333;
  }
  .nav-menu {
    background-color: #f5f5f5;
  }
  .icon {
    color: #333;
  }
  .heading {
    letter-spacing: 1px;
  }
}

@media (max-width: 479px) {
  .hero {
    height: 75vh;
  }
  .text-block {
    padding-right: 40px;
    padding-left: 40px;
    font-size: 14px;
    line-height: 24px;
  }
  .works {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .portfolio-project-text {
    font-size: 20px;
  }
  .text-block-3 {
    text-align: center;
  }
  .nav-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .column {
    overflow: visible;
  }
  .text-block-7 {
    margin-top: 40px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .project-content {
    padding-left: 10%;
  }
  .info-column {
    display: block;
    height: auto;
  }
  .hero-row {
    padding-right: 5%;
    padding-left: 5%;
  }
  .hero-du {
    height: 75vh;
  }
  .sidebyside-captionwithimage {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
}

